<html><head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

  let gameName = "<%= @game_name %>";

  function loadGame() {
    console.log("loadGame name:", gameName);
    $.get("/api/game/"+gameName, function(result) {
      console.log("loadGame result:", result);
      updateUi(result);
    });
  };

  function updateUi(result) {
    $("#game_missed_cycles").text(result.missed_cycles);
    $("#game_name").text(result.game_name);
    $("#game_credits_earned").text(result.current_sim_data.credits - result.previous_sim_data.credits);
    let mins = Math.floor(result.next_run_in / 60);
    let secs = result.next_run_in % 60
    $("#game_next_run_in").text('' + mins + ':' + secs);
    let simData = result.current_sim_data;
    Object.keys(result.current_sim_data).forEach(function(key) {
      let el = $("#sim_"+key);
      if(el.length) {
        console.debug("setting game data:", key, simData[key]);
        if(el.is("input")) {
          el.val(simData[key]);
        } else {
          el.text(simData[key]);
        }
      }
    });
  }

  function runGame() {
    console.log("runGame name:", gameName);
    let data = {
      minerCount: $("#sim_miner_count").val(),
      processorCount: $("#sim_processor_count").val(),
      sellerCount: $("#sim_seller_count").val()
    };
    let url = "/api/game/"+gameName+"/update_params";
    $.post(url, JSON.stringify(data), function(result) {
      console.log("runGame result:", result);
      updateUi(result);
    });
  };

  function incriment(id) {
    let input = $('#' + id);
    let val = input.val();
    let data = parseInt(val);
    console.log({ input, val, data });
    input.val(data + 1);
    runGame();
  };

  function decriment(id) {
    let input = $('#' + id);
    let val = input.val();
    let data = parseInt(val);
    console.log({ input, val, data });
    input.val(data - 1);
    runGame();
  }

  $(function() { loadGame(); });

  setInterval(loadGame, 5000);
</script>

<style>
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 25%;
    height: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;
  }
  .cell input {
    text-align: center;
    font-size: 0.5em;
    width: 50%;
    margin-top: 1em;
  }
  .wallet {
    background-image: url('/images/wallet.png');
    color: #cddc39;
  }
  .wallet > span {
    margin-top: 1em;
  }
  .mine {
    background-image: url('/images/mine-entrance.jpg');
    color: #ff9800;
  }
  .mine > span {
    margin-top: -1em;
  }
  .miner {
    background-image: url('/images/miner.jpg');
    color: #ff9800;
  }
  .mined {
    background-image: url('/images/mined-gold.jpg');
    color: #ff9800;
  }
  .mined > span {
    margin-top: 1em;
  }
  .processor {
    background-image: url('/images/smelter.jpg');
  }
  .processed {
    background-image: url('/images/gold.jpg');
    color: #ff9800;
  }
  .seller {
    background-image: url('/images/seller.png');
  }
  .sold {
    background-image: url('/images/money-bag.png');
    color: #607d8b;
  }
  .sold > span {
    margin-left: 1em;
  }
</style>
</head><body>
<h3>Game <span id="game_name"></span></h3>
<div class="content">
  <div class="row">
    <div class="mine cell">
      <span id="sim_mine_product"></span>
    </div>
    <div class="mined cell">
      <span id="sim_miner_product"></span>
    </div>
    <div class="processed cell">
      <span id="sim_processor_product"></span>
    </div>
    <div class="sold cell">
      <span id="game_credits_earned"></span>
    </div>
  </div>
  <div class="row">
    <div class="wallet cell">
      <span id="sim_credits"></span>
    </div>
    <div class="miner cell">
      <button onClick="decriment('sim_miner_count');">-</button>
      <input type="text" id="sim_miner_count" disabled></input>
      <button onClick="incriment('sim_miner_count');">+</button>
    </div>
    <div class="processor cell">
      <button onClick="decriment('sim_processor_count');">-</button>
      <input type="text" id="sim_processor_count"></input>
      <button onClick="incriment('sim_processor_count');">+</button>
    </div>
    <div class="seller cell">
      <button onClick="decriment('sim_seller_count');">-</button>
      <input type="text" id="sim_seller_count"></input>
      <button onClick="incriment('sim_seller_count');">+</button>
    </div>
  </div>
  <div class="row">
    <p>
      New workday starts in <span id="game_next_run_in"></span>
    </p>
  </div>
</div>
<p>
</p>
</body></html>

